div.content {
	font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
	width: 650px;
}

.flex_container {
  display: flex;
  justify-content: space-between;
  width: 760px;
}